*{
  margin: 0px;
  padding: 0px;
}

.contenedor{

}

.lineaCentro{
  padding: 10px;
  text-align: center;
  letter-spacing: 3px;
}

.principal{
  background-color: #dbe4ff;
  padding: 35px;
  height:440px;
  text-align: center;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 150px;
  background-image: url(http://footage.framepool.com/shotimg/qf/372477707-tren-de-alta-velocidad-canon-eos-5d-tokio-ciudad-arquitectura-moderna.jpg);
  color: #f8f9fa;
  text-align: center;
  letter-spacing: 3px;
  font-style: oblique;
   font-size: 40px;
}
#section1{
  letter-spacing: 3px;
}

.lineaCentro{

  background-color: #e9ecef;
}

#comenzar{
  background: #3498db;
  width: 120px;
  padding: 4px 0;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;

   	font-family: 'Roboto';
	  text-align: center;
  	text-transform: uppercase;
    color: #FFF;
    user-select: none;

    cursor: pointer;
}


#section2{
  display: none;
  margin:auto;
  margin-top: 20px;
  width: 76%;
  height: 100%;
    /*border: 1px solid black;*/
  padding: 10px;
  left: 50%;

}
.izquierda{
  width: 50%;
  float: left;
  display: inline;
/*border: 1px solid black;*/
}
.derecha{
  width: 50%;
  /*width: 450px;
  float: left;*/
  float: left;
  display: inline;
  /*border: 1px solid black;*/

}
#textoACifrar , #AquiTextoCifrado{

  border: 2px solid #adb5bd; /* Gris */
  border-radius: 12px;
  padding: 10px;
}

#offset{
  width: 60px;
  }


#cifrar , #descifrar{
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 15px;
  text-decoration: none;
  margin: 22px;
  color: #fff;
  text-transform: uppercase;
    background: #3498db;
    cursor: pointer;
    font-family: 'Roboto';
}
#limpiar , #volver{
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 15px;
  text-decoration: none;
  margin: 22px;
  color: #fff;
  text-transform: uppercase;
    background: #ff922b;
    cursor: pointer;
    font-family: 'Roboto';
  width: 100px;
}

 #descifrar:hover {
  background-color: #6FC6FF;
}
#cifrar:hover {
 background-color: #6FC6FF;
}

@media screen and (min-width:780px) and (max-width:1024px){

 }

@media screen and (min-width:480px) and (max-width:780px) {
  header{
    color: #6FC6FF;
  }
  .izquierda{
    width: 100%;
  }
  .derecha{
    width: 100%;
    display: block;
}

}

@media screen and (max-width:480){

}
